body{
	margin:0;
		margin:0;
		}

		#header img{
			width: 100%;
				height: 600px;
					position: relative;
					}

					#nav ul{
						position: absolute;
							top:65%;
								left:35%;
								}

								#nav ul li a{
									color:7A67EE;
										font-weight: 900;
										}

										#nav ul li.active{
											opacity:0.5;
											}

											#container{
												text-align: left;
													width: 90%;
														margin: 0 auto;
														}

														#content p{
															line-height: 1.4;
																padding: 10px;
																	font-family:Georgia,Serif;
																		font-size: 16px;
																		}

																		#navigation h3{
																			margin-bottom: 60px;
																				margin-top: 30px;
																				}

																				.data{
																					color: #C4C4C4;
																					}

																					.right{
																						margin-top:25px;
																							margin-bottom: 60px;
																							}

																							._small{
																								width: 20%;
																									height: 80px;
																										float: left;
																											margin-right: 20px;

																											}	

																											#content{
																												width: 65%;
																													float: left;
																														margin-top: 60px;
																														}

																														#navigation{
																															float: right;
																																width: 30%;
																																	margin-top: 60px;
																																	}

																																	#extra{
																																		float: right;
																																			width: 30%;
																																			}

																																			#box3{
																																				float: right;
																																					width: 30%;
																																					}

																																					#content img{
																																						margin: 10px;
																																							width: 97%;
																																								height: 300px;
																																								}

																																								#box4{
																																									clear: both;
																																										width: 100%;
																																											height: 600px;
																																												background:	#EDEDED;
																																													margin:0 auto;
																																													}

																																													.part3{
																																														text-align: center;
																																															width: 30%;
																																																float: left;
																																																	margin:60px 20px 0 20px;
																																																	}

																																																	.part3 img{
																																																		width: 50%;
																																																			height: 200px;
																																																				margin:20px 0 0;
																																																				}

																																																				.part3 p{
																																																					text-align: left;
																																																						font-family: Georgia,Serif;
																																																							font-size: 16px;
																																																								width: 75%;
																																																									margin:40px 0 30px 60px;
																																																									}

																																																									.more{
																																																										width: 40%;
																																																											height: 40px;
																																																												background:#FF7256; 
																																																													border-radius: 40px;
																																																														font-size: 1.1em;
																																																															color: #FFF;
																																																																font-family: Georgia;
																																																																}

																																																																#footer{
																																																																	clear: both;
																																																																		width: 100%;
																																																																			height: 400px;
																																																																				background: #292929;
																																																																					color: #FFF;
																																																																					}

																																																																					#footer .part4{
																																																																						float:left;
																																																																							width: 23%;
																																																																								text-align:left; 
																																																																									margin:30px 50px 10px 80px;
																																																																										color: #FFF;
																																																																										}

																																																																										#footer .part4 p{
																																																																											font-size: 18px;
																																																																												margin-bottom: 50px;
																																																																													margin-top: 40px;
																																																																													}

																																																																													#footer .part4 a{
																																																																														color:#A3A3A3;
																																																																															border-bottom: 1px solid #A1A1A1;
																																																																																float: left;
																																																																																	margin-bottom: 20px;
																																																																																		text-decoration: none;
																																																																																			text-align: center;
																																																																																			}

																																																																																			#part5{
																																																																																				background:	#1E1E1E;
																																																																																					width: 100%;
																																																																																						height: 75px;
																																																																																							line-height: 75px;
																																																																																								text-align: center;
																																																																																									color: #A3A3A3;
																																																																																										font-size: 16px;
																																																																																										}

